<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <betterpayment>
            <base_configuration>
                <environment>test</environment>
                <whitelabel>betterpayment</whitelabel>
            </base_configuration>
        </betterpayment>
        <payment>
            <betterpayment_credit_card>
                <debug>1</debug>
                <active>1</active>
                <title>Credit Card | Better Payment</title>
                <model>CreditCardFacade</model>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <payment_action>authorize</payment_action>
            </betterpayment_credit_card>
        </payment>
    </default>
</config>
