<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<!--    <virtualType name="CreditCardFacade" type="Magento\Payment\Model\Method\Adapter">-->
<!--        <arguments>-->
<!--            <argument name="code" xsi:type="const">BetterPayment\Core\Model\PaymentMethod\CreditCard::CODE</argument>-->
<!--            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>-->
<!--            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>-->
<!--            <argument name="valueHandlerPool" xsi:type="object">CreditCardValueHandlerPool</argument>-->
<!--&lt;!&ndash;            <argument name="validatorPool" xsi:type="object">CreditCardValidatorPool</argument>&ndash;&gt;-->
<!--            <argument name="commandPool" xsi:type="object">CreditCardCommandPool</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

<!--    <virtualType name="CreditCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ConfigValueHandler">-->
<!--        <arguments>-->
<!--            <argument name="handlers" xsi:type="array">-->
<!--                <item name="default" xsi:type="string">Magento\Payment\Gateway\Config\Config</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

<!--    <virtualType name="CreditCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">-->
<!--        <arguments>-->
<!--            <argument name="commands" xsi:type="array">-->
<!--                <item name="order" xsi:type="string">Magento\Payment\Gateway\Command\GatewayCommand</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

<!--&lt;!&ndash;    <virtualType name="CreditCardOrderCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">&ndash;&gt;-->
<!--&lt;!&ndash;        <arguments>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="requestBuilder" xsi:type="object">BraintreeAuthorizeRequest</argument>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="transferFactory" xsi:type="object">Magento\Braintree\Gateway\Http\TransferFactory</argument>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="client" xsi:type="object">Magento\Braintree\Gateway\Http\Client\TransactionSale</argument>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="handler" xsi:type="object">BraintreeAuthorizationHandler</argument>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="validator" xsi:type="object">Magento\Braintree\Gateway\Validator\ResponseValidator</argument>&ndash;&gt;-->
<!--&lt;!&ndash;            <argument name="errorMessageMapper" xsi:type="object">Magento\Braintree\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>&ndash;&gt;-->
<!--&lt;!&ndash;        </arguments>&ndash;&gt;-->
<!--&lt;!&ndash;    </virtualType>&ndash;&gt;-->

</config>
