<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <preference for="BetterPayment\Core\Api\WebhookInterface" type="BetterPayment\Core\Api\Webhook"/>
    <preference for="BetterPayment\Core\Api\TransactionInterface" type="BetterPayment\Core\Api\Transaction"/>

    <!--  Support application/x-www-form-urlencoded type request which is used in postbacks from Payment Gateway  -->
    <type name="Magento\Framework\Webapi\Rest\Request\DeserializerFactory">
        <arguments>
            <argument name="deserializers" xsi:type="array">
                <item name="application_json" xsi:type="array">
                    <item name="type" xsi:type="string">application/json</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Json</item>
                </item>
                <item name="application_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="application_xhtml_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xhtml+xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="text_xml" xsi:type="array">
                    <item name="type" xsi:type="string">text/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="application_x_www_form_urlencoded" xsi:type="array">
                    <item name="type" xsi:type="string">application/x-www-form-urlencoded</item>
                    <item name="model" xsi:type="string">BetterPayment\Core\Webapi\Rest\Request\Deserializer\FormUrlencoded</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- BetterPaymentCreditCardFacade START -->
    <virtualType name="BetterPaymentCreditCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::CREDIT_CARD</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentCreditCardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentCreditCardFacade END -->

    <!-- BetterPaymentCreditCardValueHandlerPool START -->
    <virtualType name="BetterPaymentCreditCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentCreditCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentCreditCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentCreditCardConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentCreditCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::CREDIT_CARD</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentCreditCardValueHandlerPool END -->


    <!-- BetterPaymentGiropayFacade START -->
    <virtualType name="BetterPaymentGiropayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::GIROPAY</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentGiropayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentGiropayFacade END -->

    <!-- BetterPaymentGiropayValueHandlerPool START -->
    <virtualType name="BetterPaymentGiropayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentGiropayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentGiropayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentGiropayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentGiropayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::GIROPAY</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentGiropayValueHandlerPool END -->


    <!-- BetterPaymentPaydirektFacade START -->
    <virtualType name="BetterPaymentPaydirektFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::PAYDIREKT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentPaydirektValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentPaydirektFacade END -->

    <!-- BetterPaymentPaydirektValueHandlerPool START -->
    <virtualType name="BetterPaymentPaydirektValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentPaydirektConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentPaydirektConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentPaydirektConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentPaydirektConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::PAYDIREKT</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentPaydirektValueHandlerPool END -->


    <!-- BetterPaymentSofortFacade START -->
    <virtualType name="BetterPaymentSofortFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::SOFORT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentSofortValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentSofortFacade END -->

    <!-- BetterPaymentSofortValueHandlerPool START -->
    <virtualType name="BetterPaymentSofortValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentSofortConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentSofortConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentSofortConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentSofortConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::SOFORT</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentSofortValueHandlerPool END -->


    <!-- BetterPaymentRequestToPayFacade START -->
    <virtualType name="BetterPaymentRequestToPayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::REQUEST_TO_PAY</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentRequestToPayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentRequestToPayFacade END -->

    <!-- BetterPaymentRequestToPayValueHandlerPool START -->
    <virtualType name="BetterPaymentRequestToPayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentRequestToPayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentRequestToPayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentRequestToPayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentRequestToPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::REQUEST_TO_PAY</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentRequestToPayValueHandlerPool END -->


    <!-- BetterPaymentPayPalFacade START -->
    <virtualType name="BetterPaymentPayPalFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::PAYPAL</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentPayPalValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentPayPalFacade END -->

    <!-- BetterPaymentPayPalValueHandlerPool START -->
    <virtualType name="BetterPaymentPayPalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentPayPalConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentPayPalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentPayPalConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentPayPalConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::PAYPAL</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentPayPalValueHandlerPool END -->

    <!-- BetterPaymentAiiaFacade START -->
    <virtualType name="BetterPaymentAiiaFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::AIIA</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentAiiaValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentAiiaFacade END -->

    <!-- BetterPaymentAiiaValueHandlerPool START -->
    <virtualType name="BetterPaymentAiiaValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentAiiaConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentAiiaConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentAiiaConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentAiiaConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::AIIA</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentAiiaValueHandlerPool END -->


    <!-- BetterPaymentSepaDirectDebitFacade START -->
    <virtualType name="BetterPaymentSepaDirectDebitFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::SEPA_DIRECT_DEBIT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentSepaDirectDebitValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">BetterPaymentValidatorPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentSepaDirectDebitFacade END -->

    <!-- BetterPaymentSepaDirectDebitValueHandlerPool START -->
    <virtualType name="BetterPaymentSepaDirectDebitValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentSepaDirectDebitConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentSepaDirectDebitConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentSepaDirectDebitConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentSepaDirectDebitConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::SEPA_DIRECT_DEBIT</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentSepaDirectDebitValueHandlerPool END -->


    <!-- BetterPaymentSepaDirectDebitB2BFacade START -->
    <virtualType name="BetterPaymentSepaDirectDebitB2BFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::SEPA_DIRECT_DEBIT_B2B</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentSepaDirectDebitB2BValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">BetterPaymentValidatorPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentSepaDirectDebitB2BFacade END -->

    <!-- BetterPaymentSepaDirectDebitB2BValueHandlerPool START -->
    <virtualType name="BetterPaymentSepaDirectDebitB2BValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentSepaDirectDebitB2BConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentSepaDirectDebitB2BConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentSepaDirectDebitB2BConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentSepaDirectDebitB2BConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::SEPA_DIRECT_DEBIT_B2B</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentSepaDirectDebitB2BValueHandlerPool END -->


    <!-- BetterPaymentInvoiceFacade START -->
    <virtualType name="BetterPaymentInvoiceFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::INVOICE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentInvoiceValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">BetterPaymentValidatorPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentInvoiceFacade END -->

    <!-- BetterPaymentInvoiceValueHandlerPool START -->
    <virtualType name="BetterPaymentInvoiceValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentInvoiceConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentInvoiceConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentInvoiceConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentInvoiceConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::INVOICE</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentInvoiceValueHandlerPool END -->


    <!-- BetterPaymentInvoiceB2BFacade START -->
    <virtualType name="BetterPaymentInvoiceB2BFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::INVOICE_B2B</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">BetterPaymentInvoiceB2BValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BetterPaymentCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">BetterPaymentValidatorPool</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentInvoiceB2BFacade END -->

    <!-- BetterPaymentInvoiceB2BValueHandlerPool START -->
    <virtualType name="BetterPaymentInvoiceB2BValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BetterPaymentInvoiceB2BConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentInvoiceB2BConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BetterPaymentInvoiceB2BConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentInvoiceB2BConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BetterPayment\Core\Util\PaymentMethod::INVOICE_B2B</argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentInvoiceB2BValueHandlerPool END -->


    <!-- BetterPaymentCommandPool START -->
    <virtualType name="BetterPaymentCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sale" xsi:type="string">BetterPaymentPaymentCommand</item>
                <item name="refund" xsi:type="string">BetterPaymentRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!--  BetterPaymentPaymentCommand START  -->
    <virtualType name="BetterPaymentPaymentCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BetterPaymentPaymentRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">BetterPayment\Core\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">BetterPayment\Core\Gateway\Http\Client\Payment</argument>
            <argument name="handler" xsi:type="object">BetterPayment\Core\Gateway\Response\PaymentHandler</argument>

            <!--            <argument name="logger" xsi:type="object"></argument>-->
            <!--            <argument name="validator" xsi:type="object">Magento\Braintree\Gateway\Validator\ResponseValidator</argument>-->
            <!--            <argument name="errorMessageMapper" xsi:type="object">Magento\Braintree\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>-->
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentPaymentRequestBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="common" xsi:type="string">BetterPayment\Core\Gateway\Request\CommonDataBuilder</item>
                <item name="billing_address" xsi:type="string">BetterPayment\Core\Gateway\Request\BillingAddressDataBuilder</item>
                <item name="shipping_address" xsi:type="string">BetterPayment\Core\Gateway\Request\ShippingAddressDataBuilder</item>
                <item name="redirect_url" xsi:type="string">BetterPayment\Core\Gateway\Request\RedirectUrlDataBuilder</item>
                <item name="risk_check" xsi:type="string">BetterPayment\Core\Gateway\Request\RiskCheckDataBuilder</item>
                <item name="company" xsi:type="string">BetterPayment\Core\Gateway\Request\CompanyDataBuilder</item>
                <item name="additional" xsi:type="string">BetterPayment\Core\Gateway\Request\AdditionalDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!--  BetterPaymentPaymentCommand END  -->

    <!--  BetterPaymentRefundCommand START  -->
    <virtualType name="BetterPaymentRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BetterPaymentRefundRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">BetterPayment\Core\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">BetterPayment\Core\Gateway\Http\Client\Refund</argument>
            <argument name="handler" xsi:type="object">BetterPayment\Core\Gateway\Response\RefundHandler</argument>
        </arguments>
    </virtualType>

    <virtualType name="BetterPaymentRefundRequestBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">BetterPayment\Core\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!--  BetterPaymentRefundCommand END  -->
    <!-- BetterPaymentCommandPool END -->

    <!-- BetterPaymentValidatorPool START -->
    <virtualType name="BetterPaymentValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="global" xsi:type="string">BetterPayment\Core\Gateway\Validator\B2BCustomerValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- BetterPaymentValidatorPool END -->
</config>
