<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_betterpayment_sepa_direct_debit">
        <observer name="betterpayment_gateway_data_assign" instance="BetterPayment\Core\Observer\PaymentMethodDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_betterpayment_sepa_direct_debit_b2b">
        <observer name="betterpayment_gateway_data_assign" instance="BetterPayment\Core\Observer\PaymentMethodDataAssignObserver" />
    </event>
</config>
