<!--TODO: make required fields functional-->
<form class="form" action="#" method="post" data-bind="attr: {id: getCode() + '_payment-form'}" data-mage-init='{"validation": {}}'>
    <fieldset class="fieldset">
        <!-- ko if: risk_check_agreement == 1 -->
        <div class="field required">
            <input type="checkbox" id="riskCheckAgreement" required>
            <label for="riskCheckAgreement" class="label">I agree that my data may be forwarded to risk check processing services.</label>
        </div>
        <!-- /ko -->
    </fieldset>
</form>
