<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!--GENERAL CONFIGURATION-->
        <section id="betterpayment" translate="label" showInDefault="1">
            <label>Better Payment</label>
            <tab>sales</tab>
            <resource>BetterPayment_Core::betterpayment_config</resource>
            <!--BASE CONFIGURATION-->
            <group id="base_configuration" translate="label" sortOrder="10" showInDefault="1">
                <label>Base configuration</label>
                <field id="environment" translate="label" type="select" showInDefault="1">
                    <label>Environment</label>
                    <source_model>BetterPayment\Core\Model\Config\Source\Environment</source_model>
                </field>
                <field id="whitelabel" translate="label" type="select" showInDefault="1">
                    <label>Select your payment provider</label>
                    <source_model>BetterPayment\Core\Model\Config\Source\Whitelabel</source_model>
                    <comment>Select test for testing purposes. Use production only for your live shops.</comment>
                </field>
            </group>
            <!--TEST ENVIRONMENT CREDENTIALS-->
            <group id="test_environment_credentials" translate="label" sortOrder="20" showInDefault="1">
                <label>Test environment credentials</label>
                <field id="testApiKey" translate="label" type="text" showInDefault="1">
                    <label>API key</label>
                    <comment>You can find your test API key in test dashboard of the payment provider.</comment>
                </field>
                <field id="testOutgoingKey" translate="label" type="text" showInDefault="1">
                    <label>Outgoing key</label>
                    <comment>You can find your test Outgoing key in test dashboard of the payment provider.</comment>
                </field>
                <field id="testIncomingKey" translate="label" type="text" showInDefault="1">
                    <label>Incoming key</label>
                    <comment>You can find your test Incoming key in test dashboard of the payment provider.</comment>
                </field>
            </group>
            <!--PRODUCTION ENVIRONMENT CREDENTIALS-->
            <group id="production_environment_credentials" translate="label" sortOrder="30" showInDefault="1">
                <label>Production environment credentials</label>
                <field id="productionApiKey" translate="label" type="text" showInDefault="1">
                    <label>API key</label>
                    <comment>You can find your production API key in production dashboard of the payment provider.</comment>
                </field>
                <field id="productionOutgoingKey" translate="label" type="text" showInDefault="1">
                    <label>Outgoing key</label>
                    <comment>You can find your production Outgoing key in production dashboard of the payment provider.</comment>
                </field>
                <field id="productionIncomingKey" translate="label" type="text" showInDefault="1">
                    <label>Incoming key</label>
                    <comment>You can find your production Incoming key in production dashboard of the payment provider.</comment>
                </field>
            </group>
        </section>

        <!--PAYMENT METHODS CONFIGURATION-->
        <section id="payment">
            <group id="betterpayment_credit_card" translate="label" showInDefault="1">
                <label>Credit Card (Better Payment)</label>
                <field id="active" translate="label" type="select" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" showInDefault="1">
                    <label>Title</label>
<!--                    <comment></comment>-->
                </field>
            </group>
        </section>
    </system>
</config>
